.chart-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 38px;
  padding: 74px 70px;

  &__bar {
    width: 72px;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(180deg, var(--color-blue), #8fb9ff);

    &--one {
      height: 180px;
    }

    &--two {
      height: 286px;
    }

    &--three {
      height: 230px;
    }

    &--four {
      height: 340px;
    }
  }
}
