@use "../helpers/index" as *;

.feature-panel {
  position: relative;
  width: 100%;
  aspect-ratio: 1600 / 903;
  overflow: hidden;
  @include sm-block {
    aspect-ratio: initial;
  }


  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background: var(--feature-section-body-bg);
    mask-image: url('/src/assets/figma/feature-section/feature-brush.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    pointer-events: none;
    @include sm-block {
      mask-image: url('/src/assets/figma/feature-section/feature-brush-768.svg');
    }
    @include xs-block {
      mask-image: url('/src/assets/figma/feature-section/feature-brush-375.svg');
    }
  }

  &__body {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sm-block {
      position: relative;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__grid {
    max-width: 1164px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 623px;
    align-items: center;
    gap: 40px;

    @include xlg-block {
      grid-template-columns: 3fr 4fr;
      max-width: 72vw;
      gap: 20px;
    }
    @include sm-block {
      max-width: 505px;
      grid-template-columns: 100%;

    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #000;
    font-family: var(--font-display);
    @include sm-block {
      order: 1;
      text-align: center;
    }

    h3 {
      font-size: 53px;
      font-weight: 600;
      line-height: 1.02; /* 54.06px */
      @include xlg-block {
        font-size: 34px;
      }
      @include sm-block{
        br{
          display: none;
        }
        font-size: 24px;
      }
    }

    p {
      font-size: 27px;
      line-height: 1.42; /* 38.34px */
      @include xlg-block {
        font-size: 18px;
      }
      @include sm-block{
        font-size: 14px;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: auto;
    }
  }


}
