@use "../helpers/index" as *;

.header {
  border-radius: 21px;
  background: #F6F9FD;
  display: flex;
  min-height: 77px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  backdrop-filter: blur(18px);


  &__nav {
    margin-left: auto;
    margin-right: auto;
    @include md-block {
      display: none;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;

    @include xlg-block() {
      gap: 20px;
    }
  }

  &__login {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 22.5px;
    transition: color 0.2s ease;

    @include xlg-block() {
      font-size: 16px;
    }

    @include md-block {
      display: none;
    }

    @include xs-block{
      display: flex;
      padding: 6px 14px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      border-radius: 7px;
      background: linear-gradient(107deg, #339F61 -24.89%, #1890FF 116.72%);

      color: var(--color-white);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
    }

    @include hover {
      color: var(--color-blue);
    }
  }

  &__button {
    @include md-block {
      display: none;
    }
  }

  &__burger-btn {
    display: none;
    width: 24px;
    height: 24px;
    padding: 0;
    color: #000;
    background: transparent;
    cursor: pointer;

    @include md-block {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
