@use "../helpers/index" as *;

.page {
  min-height: 100vh;

  &__header {
    position: absolute;
    z-index: 1000;
    top: 40px;
    left: 0;
    right: 0;

    @include xlg-block() {
      top: 20px;
    }
  }

  &__main {

  }

  &__hero {
    width: 100%;
    padding-top: 190px;
    padding-bottom: 100px;
    padding-inline: 40px;
    overflow: hidden;
    @include xlg-block {
      padding-top: 124px;
    }
    @include sm-block {
      padding-top: 30px;
      padding-inline: 20px;
      padding-bottom: 50px;
    }


    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: url('/src/assets/figma/hero-bg.svg') center center no-repeat;
      background-size: cover;
      pointer-events: none;
    }

  }

  &__hero-container {
    max-width: 1360px;
    width: 100%;
    margin-inline: auto;
  }

  &__interface {
    background: linear-gradient(180deg, #F0F2F8 76.27%, #BEDCF9 100%);
    padding-bottom: 60px;
    @include xs-block {
      padding-bottom: 20px;
    }
  }

  &__interface-container {
    max-width: 1360px;
    padding-inline: 50px;
    margin-inline: auto;
    @include sm-block {
      padding-inline: 25px;
    }
    @include xs-block {
      padding-inline: 10px;
    }
  }

  &__trusted {
    padding-top: 90px;
    padding-bottom: 60px;
    background: #BEDCF9;
    overflow: hidden;
  }

  &__trusted-container {
    max-width: 1480px;
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
  }

  &__ai-stage {
    background: #BEDCF9;
  }

  &__workhere-ai {
    background: #BEDCF9 linear-gradient(180deg, #BEDCF9 76.27%, #F0F2F8 100%);
    padding: 0 50px;
    @include sm-block {
      padding-inline: 20px;
    }
  }

  &__workhere-ai-container {
    max-width: 1480px;
    width: 100%;
    margin-inline: auto;
  }

  &__feature-section {
    margin-top: 80px;
    @include sm-block {
      margin-top: 60px;
    }
    @include xs-block {
      margin-top: 20px;
    }
  }

  &__reviews {
    background: #f0f2f8;
    margin-top: 80px;
    @include sm-block {
      margin-top: 40px;
    }
    @include xs-block{
      margin-top: 20px;
    }
  }

  &__cases {
    margin-top: 60px;
    background: #f0f2f8;
    @include md-block {
      margin-top: 40px;
    }
    @include xs-block{
      margin-top: 20px;
    }
  }

  &__premier {
    margin-top: 80px;
    @include xs-block{
      margin-top: 40px;
    }
  }

  &__api-power {
    margin-top: 40px;
    @include xs-block{
      margin-top: 20px;
    }
  }

  &__security {
    @include sm-block {
      margin-top: 30px;
    }
    @include xs-block{
      margin-top: 20px;
    }
  }

  &__pricing {
    margin-top: 40px;
    @include xs-block{
      margin-top: 20px;
    }
  }

  &__demo-request {
    margin-top: 80px;
    @include md-block {
      margin-top: 40px;
    }
  }

  &__journal {
    margin-top: 80px;
    @include sm-block {
      margin-top: 40px;
    }
  }

  &__footer {
    margin-top: 40px;
  }

}
